@CHARSET "UTF-8";
body,
html {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	font-family: Helvetica Neue, PingFang SC, Microsoft Yahei, 微软雅黑, STXihei, 华文细黑, sans-serif;
}

* {
	margin: 0;
	padding: 0px;
}

body,
h4,
h5,
li {
	line-height: 20px;
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-group1 {
	margin-top: 15px;
	margin-bottom: 0;
}

.form-group1:first-child {
	margin-top: 0;
}

.form-control1 {
	font-size: 16px;
	background: 0 0;
	color: #383838;
}

input.form-control1 {
	line-height: 30px;
}

input.form-control1,
textarea.form-control1 {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	padding: 7px 5px;
}

.form-control1 {
	display: block;
	width: 100%;
}

.form-control1:focus {
	outline: none;
	border-color: rgba(0, 0, 0, .4)
}

.form-control:focus {
	outline: none;
	border-color: rgba(0, 0, 0, .4)
}

.bodybg {
	width: 100%;
	height: 100%;
	z-index: -1;
}
.bodybgmask{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: rgba(0,0,0,0.1);
}
.container {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.2);
}

.container:before {
	content: " ";
}

.copyright {
	color: #999;
	font-size: 14px;
	position: absolute;
	z-index:1;
	bottom: 10px;
	display: block;
	text-align: center;
	width: 100%;
	margin: 10px auto;
}
.copyright a{color:#EEE;}
.btn {
	width: 100%;
	margin-left: 0!important;
}

.btn-primary {
	color: #fff;
	background-color: #03a9f4;
	border-color: #03a9f4;
}

.btn {
	display: block;
	padding: 12px 12px;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 20px;
	color: #383838;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn.btn-primary {
	border-color: #03a9f4;
	color: #FFF;
}

.btn:focus,
.btn:hover {
	color: #383838;
	border: 1px solid #a6a6a6;
	outline: 0;
	text-decoration: none;
}

.btn-lg {
	min-width: 120px;
	line-height: 20px;
	padding: 9px 16px;
	font-size: 14px;
	border-radius: 3px;
}

.hide {
	display: none;
}

.btn.btn-default {
	background-color: #fff;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #14b4fc;
	border-color: #14b4fc;
}

.btn.btn-primary:hover {
	border-color: #19b6fc;
	background: #19b6fc;
}

.em_loginform {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -330px;
	width: 660px;
	height: 230px;
	z-index:999;
	margin-top: -150px;
}

.em_title {
	text-align: center;
	margin-top: -60px;
	font-weight: bold;
	color: #FFF;
	letter-spacing: 6px;
	font-size: 44px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.em_formbox {
	padding: 30px;
	box-shadow: 0px 0px 21px rgba(255, 255, 255, .2);
	background: #FFF;
	border-radius: 10px;
	width: 500px;
	margin: auto;
	margin-top: 50px;
}
.animated{
	animation-duration: .6s;
    -webkit-animation-duration: .6s;
}